<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>管理者用ページ</title>
  <link rel="stylesheet" href="/admin.css">
</head>

<body>
  <h1>
    <span>管理者用ページ</span>
    <span class="logout">(<a href="/logout">ログアウト</a>)</span>
  </h1>

  <% if (uploadError) { %>
  <p class="error"><%= uploadError %></p>
  <% } %>

  <section>
    <h2>記事の新規投稿</h2>
    <% if (hasTodaysEntry) { %>
    <span>本日はすでに記事を投稿済みです。</span>
    <% } else { %>
    <a href="/admin/edit">新規投稿ページへ</a>
    <% } %>
  </section>

  <section>
    <h2>記事の編集/削除</h2>
    <table>
      <tr>
        <th>投稿日時</th>
        <th>タイトル</th>
        <th>操作</th>
      </tr>
      <% entries.forEach((entry) => { %>
      <tr>
        <td><%= convertDateFormat(entry.date) %></td>
        <td><%= entry.title %></td>
        <td>
          <div class="operation-column">
            <a href="/admin/edit?date=<%= entry.date %>">編集</a>
            <a href="#" data-delete="<%= entry.date %>">削除</a>
          </div>
        </td>
      </tr>
      <% }) %>
    </table>

    <form name="delete" action="/admin/delete_entry" method="post">
      <input type="hidden" name="date" value="">
    </form>
  </section>

  <section>
    <h2>パスワード変更</h2>
    <div class="password-inputs">
      <label>新しいパスワードを入力してください。</label>
      <input type="password" name="password">
      <label>確認として同じパスワードを入力してください。</label>
      <input type="password" name="password_verify">
    </div>
    <input type="button" name="change_password" value="変更">
  </section>

  <script src="/admin.js"></script>
</body>

</html>
