<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title><%= pageTitle %> | 管理者用ページ</title>
  <link rel="stylesheet" href="/admin.css">
</head>

<body>
  <h1>管理者用ページ</h1>

  <section>
    <h2><%= pageTitle %></h2>
    <form name="edit" action="/admin/post_entry" method="post" enctype="multipart/form-data">
      <div>
        <h3>タイトル</h3>
        <input type="text" name="title" value="<%= entry.title %>">
      </div>
      <div>
        <h3>本文</h3>
        <textarea name="content"><%= entry.content %></textarea>
      </div>
      <div>
        <h3>画像</h3>
        <% if (entry.image) { %>
        <div>
          <label class="checkbox-label">
            <input type="checkbox" name="imgdel" value="1">
            <span>この画像を削除する</span>
          </label>
        </div>
        <img class="image" src="/images/<%= entry.date %>/<%= entry.image %>">
        <h4>別の画像に差し替える</h4>
        <% } %>
        <input type="file" name="image" accept="image/*">
      </div>
      <div class="form-buttons">
        <input type="hidden" name="date" value="<%= entry.date %>">
        <input type="submit" value="送信">
        <a href="/admin/">戻る</a>
      </div>
    </form>
  </section>

  <% if (commentList) { %>
  <section>
    <hr>
    <p class="info">※記事の投稿とコメントの削除を同時に送信することはできません。</p>
    <h2>コメント管理</h2>
    <form name="comment" action="/admin/delete_comment" method="post">
      <table id="comment-list">
        <tr>
          <th>投稿日時</th>
          <th>コメント</th>
          <th>削除</th>
        </tr>
        <% commentList.forEach((comment) => { %>
        <tr>
          <td class="posted"><%= comment.posted %></td>
          <td><%= comment.comment %></td>
          <td class="comment-delete">
            <div class="operation-column">
              <input type="checkbox" name="id[]" value="<%= comment.id %>">
            </div>
          </td>
        </tr>
        <% }) %>
      </table>
      <label>チェックを入れたコメントを一括で削除します。</label>
      <input type="hidden" name="date" value="<%= entry.date %>">
      <input type="submit" value="削除実行">
    </form>
  </section>
  <% } %>

  <script src="/edit.js"></script>
</body>

</html>
