<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title><%= entry.title %> | 担当者Aのブログ</title>
  <link rel="stylesheet" href="/blog.css">
</head>

<body>

  <!-- メインコンテンツ -->
  <div class="main-content">
    <h1><a href="/blog/">担当者Aのブログ</a></h1>

    <article>
      <div class="entry">
        <h2><%= entry.title %></h2>
        <div class="entry-content">
          <div class="entry-date"><%=
            entry.date.substr(0, 4) + '-' +
            entry.date.substr(4, 2) + '-' +
            entry.date.substr(6, 2)
          %></div>
          <p><%= entry.content %></p>
        </div>
      </div>
    </article>
    <div class="back"><a href="javascript:history.back()">戻る</a></div>
  </div>

  <!-- サイドバー -->
  <div class="side-bar">
    <div>
      <% sideList.forEach((listData) => { %>
      <% const [yyyymm, listEntries] = listData; %>
      <h3><%= yyyymm %></h3>
      <ul>
        <% listEntries.forEach((entry) => { %>
        <li><a href="/blog/<%= entry.date %>"><%= entry.title %></a></li>
        <% }) %>
      </ul>
      <% }) %>
    </div>
  </div>
</body>

</html>
