<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title><%= entry.title %> | 担当者Aのブログ</title>
  <link rel="stylesheet" href="/blog.css">
</head>

<body>

  <!-- メインコンテンツ -->
  <div class="main-content">
    <h1><a href="/blog/">担当者Aのブログ</a></h1>

    <article>
      <div class="entry">
        <h2><%= entry.title %></h2>
        <div class="entry-content">
          <div class="entry-date"><%= convertDateFormat(entry.date) %></div>
          <p><%= entry.content %></p>
          <% if (entry.image) { %>
          <img class="image" src="/images/<%= entry.date %>/<%= entry.image %>">
          <% } %>
        </div>
      </div>
    </article>
    <div class="back"><a href="javascript:history.back()">戻る</a></div>

    <section id="comment-list">
      <h3>一言コメント一覧</h3>
      <ul>
        <% commentList.forEach((comment) => { %>
        <li>
          <span><%= comment.comment %></span>
          <small><%= comment.posted %></small>
        </li>
        <% }) %>
      </ul>
      <form name="comment" action="/blog/<%= entry.date %>/post_comment" method="post">
        <label>コメントを投稿する</label>
        <input type="text" name="comment" value="<%= commentInput %>">
        <div class="submit-button">
          <div class="captcha-image"></div>
          <div class="captcha-message">左の画像に表示されている文字を<br>入力してください。（<a href="#">画像を変更</a>）</div>
          <input type="text" name="captcha" maxlength="4">
          <input type="submit" value="送信">
        </div>
        <% if (message) { %>
        <p class="error"><%= message %></p>
        <% } %>
      </form>
    </section>
  </div>

  <!-- サイドバー -->
  <div class="side-bar">
    <div>
      <% sideList.forEach((listData) => { %>
      <% const [yyyymm, listEntries] = listData; %>
      <h3><%= yyyymm %></h3>
      <ul>
        <% listEntries.forEach((entry) => { %>
        <li><a href="/blog/<%= entry.date %>"><%= entry.title %></a></li>
        <% }) %>
      </ul>
      <% }) %>
    </div>
  </div>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch%2CPromise"></script>
  <script src="/entry.js"></script>
</body>

</html>
